:root {
  --resume-margin: 3rem;
  --resume-text-size: .875rem;
  --resume-text-margin: .75rem;
  --resume-h1-color: black;
  --resume-imieinazwisko-color: black;
}
body {
  background: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
#resume {
  background: white;
  height:297mm;
  width:210mm;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  margin-left: 22.5vw;
}
#resume:hover {
  outline: 1px solid #B4C8E6;
}
#sekcje {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: var(--resume-margin);
}
.sekcja:hover .add{
  display: block;
}
.sekcja {
  padding: .5rem;
  width: auto;
  font-size: var(--resume-text-size);
  color: #404040;
  margin-left: 2rem;
}
.sekcja p {
  margin-top: 0;
  margin-bottom: var(--resume-text-margin);
}
#name {
  padding-left: 0;
  padding-top: 0;
}
#imieinazwisko {
  font-weight: 500;
  color: var(--resume-imieinazwisko-color);
  font-size: calc(.45rem + var(--resume-text-size));
}

#resume-content {
  display: flex;
  justify-content: center;
  background: #E6E6E6;
  min-height: 100vh;
}
h1 {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  font-weight: 400;
  font-size: calc(.3rem + var(--resume-text-size));
  cursor: default;
  margin-bottom: calc(.4rem + var(--resume-text-margin));
  margin-top: calc(1rem + var(--resume-text-margin));
  color: var(--resume-h1-color);
}
#menu {
  height: 100%;
  background: #f7f7f7;
  position: fixed;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-right: 1px solid #DCDCDC;
}
#menu p {
  color: black;
  font-size: .8rem;
}
.option p{
  color: white;
  text-align: center;
}
.option {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.add {
  display: none;
  padding: .5rem;
  border: 1px solid black;
  border-radius: .1rem;
  border-color: #B4C8E6;
  color: #bcbdd1;
}
.add:hover {
  border-color: #121212;
  color: #121212;
  cursor: pointer;
}
.btn-download {
  color: white;
  font-size: .7rem;
}
#dwnico {
  height: 1.5rem;
  width: 1.5rem;
  padding: .5rem;
  cursor: pointer;
}
#dwnbutton {
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
  background: #6963F1;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}
#dwnbutton:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
#zgoda {
  vertical-align: bottom;
  bottom: 0px;
  font-size: .7rem;
  margin-left: 3rem;
  margin-right: 3rem;
  color: #c1c1c1;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: .2rem;
  border: 1px solid #c9c9c9;
  height: 8px;
}
.slider:hover {
  -webkit-appearance: none;
  appearance: none;
  background: #edf4ff;
  border-radius: .2rem;
  border: 1px solid #c9c9c9;
  height: 8px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 11px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #4D7CD1; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 2px;
}

/* NOTE: SEKCJE */
#contact p{
  font-size: var(--resume-text-size);
  color: #404040;
  margin: 0;
}
#contact {
  display: flex;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  width: 50%;
  flex-wrap: wrap;
  font-size: .9rem;
  padding-bottom: 3rem;
}
.appended:hover {
  cursor: pointer;
  text-decoration: line-through;
}
p:hover {
  border-radius: .1rem;
}
.experience-list-position {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.learn-list-position {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.zakres {
  color: #969696;
}
#sekcja-top {
  display: flex;
  align-items: center;
}
#moje-zdjecie {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 10rem;
}
.kategoria-menu {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .kategoria-menu {
    display: none;
  }
  #menu {
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #resume-content {
    width: 100%;
  }
  #resume {
    margin-left: 0;
    margin-right: 0;
  }
  .options p{
    margin: .3rem;
    padding: 0;
  }
  .options {
    margin-right: 8rem;
  }
  #kolory {
    margin-right: 8rem;
  }
}
@media screen and (max-width: 740px) {
  .options {
    margin-right: auto;
    margin-left: .5rem;
  }
  #kolory {
    margin-right: auto;
  }
  #kolory {
    display: flex;
    flex-direction: column;
  }
  #dwnbutton {
    margin-right: .5rem;
  }
}
