body {
  background: #ffffff;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#navigation-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  background: #ffffff;
}
#navigation-bar a{
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin-top: 3rem;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 3rem;
  font-size: .9rem;
}
#page-content {
  display: flex;
  flex-direction: row;
}
#page-content-left {
  width: 50%;
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
  margin-left: 15rem;
  margin-right: 15rem;
}
#page-content-left a{
  font-size: .85rem;
  background: white;
  border: 1px solid #4D7CD1;
  color: #4D7CD1;
  padding: .7rem;
  border-radius: .5rem;
  text-decoration: none;
  transition: .05s ease;
}
#page-content-left a:hover{
  background: #4D7CD1;
  color: white;
}
h1 {
  font-size: 2rem;
}
#dlaczego {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  width: 100%;
  top: 70%;
}
#dlaczego .title {
  color: #6963F1;
  font-size: 1.1rem;
}
.dlatego {
  text-align: center;
}
.dlatego p {
  font-size: .8rem;
}
#undraw {
  width: 30rem;
  height: auto;
}
#page-content-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 15rem;
  margin-right: 15rem;

}
