body {
  background: #ffffff;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
#navigation-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  background: #ffffff;
}
#navigation-bar a{
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin-top: 3rem;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 3rem;
  font-size: .9rem;
}
#page-content {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#page-content-left {
  width: 50%;
  position: absolute;
  transform: translateY(-60%);
  margin-left: 15rem;
  margin-right: 15rem;
  top: 40%;
}
#page-content-left a{
  font-size: .85rem;
  background: white;
  border: 1px solid #4D7CD1;
  color: #4D7CD1;
  padding: .7rem;
  border-radius: .5rem;
  text-decoration: none;
  transition: .05s ease;
}
#page-content-left a:hover{
  background: #4D7CD1;
  color: white;
}
h1 {
  font-size: 2rem;
}
#dlaczego {
  display: inline-grid;
  position: absolute;
  gap: 3rem;
  width: 100%;
  grid-row: auto;
   grid-template-columns: 20rem 20rem 20rem;
   justify-content: center;
   margin-top: 5rem;
}
#dlaczego .title {
  color: #6963F1;
  font-size: 1.1rem;
}
.dlatego {
  text-align: center;
}
.dlatego p {
  font-size: .8rem;
}
#undraw {
  width: 30rem;
  height: auto;
  user-select: none;
  object-fit: contain;
}
#page-content-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-left: 15rem;
  margin-right: 15rem;
}

@media screen and (max-width: 1200px) {
  #page-content-left {
    width: 100%;
    margin-top: 25vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: static;
  }
  #page-content-right {
    display: none;
  }
  #git {display: none;}
}
@media screen and (max-width: 990px) {
  #page-content-left {
    width: 100%;
    margin-top: 25vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: static;
  }
  #page-content-right {
    display: none;
  }
  #git {display: none;}
  #dlaczego {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .dlatego {
    margin-bottom: 3rem;
  }
}
